body {
    background-color: #232323;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #fff;
}

.top {
    background-color: #323232;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
    position: relative;
    margin-top: 65px;
}

.donot {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-top: -20px;
    margin-left: 15px;
}

.fea {
    margin-top: -15px;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}

#about .fea {
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 51px;
}

p, li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 20px;
    font-family: inherit;
}

hr {
    margin-top: 20px;
}

.logo {
    float: left;
    width: 35px;
    height: 35px;
    padding-left: 10px;
    padding-top: 3.5px;
}

.tbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tbar li {
    float: left;
}

.tbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding-left: 35px;
    text-decoration: none;
    height: 50px;
    line-height: 50%;
}